.table-box {min-height:auto}
#writeContents {text-align:left;padding:30px 10px;display:block}
.table-box .btn-box .write-btn {margin-left:1px}

.board_tit {margin-bottom:10px;display:block;font-size:1.6em;line-height:1.2em}

select.ed {padding:4px}

input.w98 {width:98%}
.text-center {text-align:center}